  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
  }

* {
    box-sizing: border-box;
  }
 
  a {    font-size: 120%;
    text-shadow: #222 1px 1px;
font-weight: bolder;
}


  .navbar-default {
    background-color: #333;  
    background: linear-gradient(rgb(132, 129, 125) 10%, rgb(87, 85, 84) 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-color: #222; 
    border-radius: 0%;
    z-index: 2;
    overflow: visible;
  }


  
  .navbar-default .navbar-brand {
    color: #ffffff; 
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #dddddd;
  }
  /*.navbar-default .navbar-nav > li > a {
    color: #ffffff;          
  }*/
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #dddddd;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  
  div .section:hover {
    scale: 101%;
    box-shadow: 0 2px 10px rgb(255, 232, 139);}
  
  header h1 {
    font-size: 4em;
    margin: 20px 0;
    font-weight: bold;
    color: #2d2c2c;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.col {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background: linear-gradient(rgb(162, 159, 155) 10%, rgb(100, 99, 98) 100%);
    text-align: left;
    box-sizing: border-box;
    flex: 1 1 30%; 
    min-width: 350px;
}

.section {border-bottom-left-radius: 15px;
    position: relative;
    padding: 40px 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.title {
    top: -1px;
    right: -1px;
    position: absolute;
    width:100px;
    background-color: darkgray;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 120%;
    border: 1px solid black;
    text-shadow: #222 2px 2px;

}
    #chicken .title { background-color: #d9534f; }
    #beef .title    { background-color: #2c9fc9; }
    #sushi .title   { background-color: #f0ad4e; }


.navbar-default .navbar-nav > li > a[href="#chicken"] {
    color: #d9534f;
  }
  .navbar-default .navbar-nav > li > a[href="#chicken"]:hover,
  .navbar-default .navbar-nav > li > a[href="#chicken"]:focus {
    color: #b24742; text-decoration: underline;

  }
  

  .navbar-default .navbar-nav > li > a[href="#beef"] {
    color: #2c9fc9;
  }
  .navbar-default .navbar-nav > li > a[href="#beef"]:hover,
  .navbar-default .navbar-nav > li > a[href="#beef"]:focus {
    color: #237b90; text-decoration: underline;
 
  }
  

  .navbar-default .navbar-nav > li > a[href="#sushi"] {
    color: #f0ad4e;
  }
  .navbar-default .navbar-nav > li > a[href="#sushi"]:hover,
  .navbar-default .navbar-nav > li > a[href="#sushi"]:focus {
    color: #c48a3a; text-decoration: underline;
 
  }

  
  
  @media (max-width: 767px) {
    .navbar-collapse {
      background-color: #333;
      width: 100%;
      position: absolute;
      top: 50px; 
      border-top: 0px;
    }
  }
  
  nav a {
    margin-left: 20px;
    font-size: 150%;
    text-shadow: #222 1px 1px;
  }
  
  .navbar-collapse::-webkit-scrollbar {
    width: 0px;
  }
  .navbar-collapse::-webkit-scrollbar-thumb {
    background-color: #e7d2c500;
    border-radius: 10px;
    border: 0px solid #1e1e1e00;
  }
  
  .navbar-collapse::-webkit-scrollbar-track {
    background-color: #29292900;
    border-radius: 10px;
  }
